<h2>User Tasks</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Due date</th>
      <th>Task list</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.priority %></td>
        <td><%= task.due_date %></td>
        <td><%= task.task_list %></td>
      </tr>
    <% end %>
  </tbody>
</table>
